body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "googleSingleDay";
	src: url(./asset/font/Days_One/DaysOne-Regular.ttf);
  
}

:root {
	--font-googleDaysOne: "googleDaysOne";
}


/* majorsChooserㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.title {
  font-size:2.5rem;
  height: 60px;
  margin-bottom:1rem;
  color:#fff;
}

.container {   /*타이틀 아래전체박스*/
  max-width:2000px;
  height: 1000px;
  margin:auto;
  padding:1rem;
  background-color:rgb(224, 224, 233); /*original: fff*/
  font-family: var(--font-googleDaysOne);
}

.quest-box {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom:1rem;
  background-color:#646b8b8c;
  padding:1rem;
  border-radius:8px;
}

.quest-text {
  font-size:1.7rem;
  margin-bottom:1rem;
  color:#000000;
}

.ans-push {    /*yes/no*/
  flex-wrap:wrap;
  margin-top:3rem;
  display:flex;
  justify-content:center;
}

.ans-but {
  background-color:#2f2d3e;
  color:#fff;
  padding:1rem 0.8rem;
  margin:0.5rem;
  font-size:1.1rem;
  border-radius:8px;
  font-family: var(--font-googleDaysOne);
  font-size:x-large;
}

.majs-boxes-container {
  max-width:1200px;
  background-color: rgb(224, 224, 233);
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
}
.ForTextPosi {
  /* background-color: #2b2b49; */
  margin:auto;
  max-width:1200px;
}
.major-boxes {
  padding:2rem;
  height: 10px;
  width:90px;
  display:flex;
  align-items:center;
  justify-content:center;
  
  background-color:#ffffff;
  border:solid #030303 0.5px;
  border-radius:8px;
  box-shadow: 2px 2px 2px rgb(163, 161, 161);

}

.major-name {
  font-size:1.2rem;
  margin-right:1rem;
  color:#000000;
  }

.majs-list{ /*아래 메이저리스트*/
  
  display: grid;
   grid-template-columns: repeat(7,1fr);
   grid-gap: 0.2rem;
   flex-wrap:wrap;
   justify-content:center;
   list-style:none;
}

.rec-maj-box {   /*rec는 결과창*/
  text-align:center;
  margin-top:0;
}

.rec-maj-name {
  font-size:2.2rem;
  margin-bottom:1rem;
  color:#000000;
}

.rec-maj-desc {     /*추천 메이저의 description*/
  font-size:1.4rem;
  color:#000000;
  
  
}

.resetb {
  flex-wrap:wrap;
  justify-content:center;
  font-family: var(--font-googleDaysOne);
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* About page */
.about-container {
  max-width:2000px;
  height: 1000px;
  margin:auto;
  padding:1rem;
  background-color:rgb(224, 224, 233);
  border-radius:8px;
  font-family: var(--font-googleDaysOne);
  font-weight: 600
  
}

.about-header {
  padding: 15px;
  height: 70px;
  text-align: center;
  line-height: 0.3;
}

.about-groupbox {
  max-width:1000px;
  margin:auto;
  padding:1rem;
  border-radius:8px;
  display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 1rem;
}
.about-textbox {
  padding:1rem;
  border-radius:8px;
  box-shadow: 2px 2px 2px rgb(163, 161, 161);
  background-color:#ffffff;
  max-width:450px;
  max-height: 220px;
}

hr {
  border: 0;
  width: 30%;
  text-align:left;
  margin-left: 0;
  height: 4px;
  background: rgb(57, 138, 154);
  border-radius: 4px;
}

/* Navbarㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.navbar {
  background-color: #2b2b49;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  text-align:left;
  margin-left: 15px;
}

.nav-menu {
  background-color: #272736;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;

}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  
}

.nav-text a:hover {
  background-color: #88889d;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #272736;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 19px;
}

/* Updatesㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.updates-container{
  max-width:2000px;
  height: 1000px;
  margin:auto;
  padding:1rem;
  background-color:rgb(224, 224, 233);
  border-radius:8px;
  font-family: var(--font-googleDaysOne);
  font-weight: 600
}

.updates-header {
  background-color: rgb(224, 224, 233);
  font-size: xx-large;
  padding: 15px;
  height: 70px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  
}

.updates-body{
  background-color: rgb(224, 224, 233);
  width: 700px;
  margin: 0 auto;
  text-align: center;
  
}

.updates-eachchange{
  background-color: rgb(224, 224, 233);
 
  padding: 10px;
  text-align: left;
  
}